#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.guesses {
    max-width: 800px;
    min-width: 250px;
    margin: 0 auto;
}

.valid {
    color: green;
    text-align: center;
}

.guesses-list h3 {
    text-align: center;
}
.guesses-list a {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background: #2d2d2d;
    color: white;
    margin: 0.5rem 0;
    padding: 0.4rem;
    flex-grow: 1;
}

.single-guess {
    display: flex;
    align-items: center;
}

.single-guess > span {
    width: 24px;
    flex-shrink: 0;
}

.guesses-list a:hover {
    background-color: #6d6d6d;
}
form {
    display: block;
    margin-top: 2rem;
}

form button {
    margin-left: 2rem;
}

.word-circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;

    width: 200px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

.target {
    color: red;
}

.error {
    display: block;
    color: red;
    margin-top: 2rem;
}
